<div class="header">
  <button class="btn btn-dark" (click)="logout()">Logout</button>
</div>

<div class="upload">
  <div class="dropzone" ondrop="onFileSelectChange($event.target)">
    <input type="file" class="file-upload" (change)="onFileSelectChange($event.target)">
  </div>
  <button class="btn btn-primary" [disabled]="!selectedFiles?.length" (click)="upload()">Upload</button>
</div>

<div *ngIf="files$ | async as files" class="list-container">
  <ng-container *ngIf="files.length">
    <div role="group" class="btn-group view-modes">
      <button type="button" class="btn btn-sm" (click)="setViewMode('list')">
        <img src="/assets/images/list.svg" alt="List view" width="32" height="32">
      </button>
      <button class="btn btn-sm" (click)="setViewMode('group')">
        <img src="/assets/images/group.svg" alt="Group view" width="32" height="32">
      </button>
    </div>

    <ng-container [ngSwitch]="viewMode | async">
      <tax-file-list [files]="files" *ngSwitchCase="'list'" (delete)="delete($event)"></tax-file-list>
      <tax-file-group [files]="files" *ngSwitchCase="'group'" (delete)="delete($event)"></tax-file-group>
    </ng-container>
  </ng-container>
</div>
